[submodule "TeamAsimov"]
	path = controllers/TeamAsimov
	url = https://github.com/WesleyBumpus/TeamAsimov
	branch = competition
[submodule "SamKing"]
	path = controllers/SamKing
	url = https://github.com/samking7185/UCFuzzyChallenge
	branch = competition
[submodule "WiceCwispies"]
	path = controllers/WiceCwispies
	url = https://github.com/WiceCwispies/HeiTerryAsteroids
	branch = competition
